.slider {
  --itemW: 100px;
}

.slider ul {
    display: flex;
    list-style: none;
    height: 100px;
    overflow-x: scroll;
    padding: 15px 15px;
    flex: 0 0 calc(var(--itemW) * 6);
    max-width: 400px;
    margin: 0 auto;
    gap: 15px;
}

.slider ::-webkit-scrollbar {
    height: 2px;
    width: 5px;
    background: #4dfcca;
    -webkit-border-radius: 1ex;
}

.slider li {
  flex: 0 0 var(--itemW);
}